/*
  ========================================
  General
  ========================================
*/
body {
  max-width: 1300px;
  margin: 0 auto;
}

img {
  cursor: pointer;
}

h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: rgba(3, 3, 3, 0.4);
  line-height: 16px;
}

.container {
  max-width: 1300px;
}

/*
  ========================================
  Navigation Bar
  ========================================
*/

.logo {
  min-width: 150px;
}

a.badge-warning:focus,
a.badge-warning:hover {
  background-color: #ffc107;
}

.firstNav .nav-item .nav-link {
  line-height: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #000;
  font-size: 1rem;
}

.firstNav .nav-item i {
  line-height: 0.5rem;
}

.secondNav .nav-item .nav-link {
  color: #807f84;
}

.firstNav .nav-item .nav-link:hover {
  color: #f72210;
}

.logonav-hover:hover {
  text-decoration-line: none;
}

/* .secondNav .nav-item .nav-link:hover {
    color: #f72210;
} */

.badge {
  padding-top: 0.4em;
  font-size: 100%;
}

/*
  ========================================
  Main
  ========================================
*/

figcaption a {
  color: #f72210;
  padding: 0.4rem 1.3rem;
  background-color: rgba(255, 255, 255, 0.9);
  width: 25%;
}

.fixed-bottom {
  right: auto;
}

.card {
  border: none;
}

.card-title a {
  font-size: 24px;
  line-height: 24px;
  color: #000;
}

figcaption a:hover {
  text-decoration-line: none;
  color: #f72210;
  
}

.hover-line-red:hover {
  text-decoration-color: #f72210;
}

.card-text {
  font-size: 15px;
  color: #333;
}

.culturel-pict {
    background-color: rgba(194,212,215);
    color: black;
    font-size: 13px;
    padding: 0.3rem 0.4rem;
}

.hover-noline:hover {
    text-decoration-line: none;

}

.border-special1 {
    border-top: 3px solid #dee2e6;
}
.border-special2 {
    border-bottom: 3px solid #dee2e6;
  
}

/*
  ========================================
  Footer
  ========================================
*/

.newsletter {
  background: url(/assets/images/subs2.png) center center / cover no-repeat;
  max-width: 191px;
 
}

@media  screen and (min-width: 768px){

.border-right li a {
  border-right: 1px solid #807f84;
  padding: 0 15px
}
}